/*___INTEGRATE_FONTS___*/
@font-face {
    font-family: "Helvetica-Hair";
    src:url("./fonts/HelveticaNeue.ttf");
    }

@font-face {
    font-family: "Helvetica-Medium";
    src:url("./fonts/HelveticaNeue\ Medium.ttf");
    }

@font-face {
    font-family: "Helvetica-Black";
    src:url("./fonts/HelveticaNeue\ BlackCond.ttf");
    }

/*___SECTIONS___*/
/*General*/
.links {
    color: lightgray !important;
}
.links:hover {
    color: white !important;
    text-decoration: none;
}

.uk-light {
    color: white;
}

/*Profile and Contact info*/
.top-profile {
    font-family: "Helvetica-Black";
    color: rgb(49, 49, 49);
    font-size: 65px;
    letter-spacing: 1px;
}

.name {
    padding-left: 60px;
}

.contact-info {
    font-size: 25px;
    font-weight: 100;
}

/*Table of Contents*/
.content-menu a {
    font-size: 30px;
    color: rgb(70, 70, 70);
}
.content-menu a:hover {
    color: rgb(19, 19, 19);
    text-decoration: none;
}

/*Images*/
.profile-pic {
    height: 160px;
}

.logos {
    height: 100px;
}

/*Headers*/
.section-title {
    font-family: "Helvetica-Black";
    color: rgb(49, 49, 49);
    font-size: 60px;
    letter-spacing: 1px;
}

.section-title-light {
    font-family: "Helvetica-Black";
    color: white;
    font-size: 60px;
    letter-spacing: 1px;
}

.ff:hover {
    color: red;
}

/*Vente-privée*/
.vplink {
    color: rgb(221, 17, 177) !important;
    font-weight: bold;
}

.vplink:hover {
    color: rgb(224, 91, 195) !important;
    text-decoration: none;
}

/*Guerlain*/
.gulink {
    color: white !important;
    font-weight: bold;
}

.gulink:hover {
    color: lightgray !important;
    text-decoration: none;
}

/*Languages*/
.language-menu {
    font-size: 25px;
    color: white;
}
.uk-width-1-6 .lang:hover {
    font-size: 25px;
    color: rgb(216, 216, 216);
}
.language-menu .uk-card {
    font-size: 15px;
    color: rgb(49, 49, 49);
}

/*Accordion Fixes*/
.accordion-light {
    color: white !important;
}
.accordion-light:hover {
    color: rgb(216, 216, 216) !important;
}

.accordion-dark {
    color: rgb(35, 35, 35) !important;
}
.accordion-dark:hover {
    color: rgb(5, 5, 5) !important;
}

.dark-text {
    color: rgb(35, 35, 35);
}