/*___INTEGRATE_FONTS___*/
@font-face {
    font-family: "Helvetica-Hair";
    src:url("./fonts/HelveticaNeue.ttf");
    }

@font-face {
    font-family: "Helvetica-Medium";
    src:url("./fonts/HelveticaNeue\ Medium.ttf");
    }

@font-face {
    font-family: "Helvetica-Black";
    src:url("./fonts/HelveticaNeue\ BlackCond.ttf");
    }

/*___SECTIONS___*/
/*Profile and Contact info*/
.top-profile {
    font-family: "Helvetica-Black";
    color: rgb(49, 49, 49);
    font-size: 60px;
    letter-spacing: 1px;
}

/*Images*/
.profile-pic {
    height: 160px;
}

.logos {
    height: 100px;
}

/*Headers*/
.section-title {
    font-family: "Helvetica-Black";
    color: rgb(49, 49, 49);
    font-size: 50px;
    letter-spacing: 1px;
}


/*Vente-privée*/
.vplink {
    color: rgb(202, 29, 165);
}

.vplink:hover {
    color: rgb(153, 18, 124);
}

